<nav class="bar bar-tab">
  <a id="home" class="tab-item" href="/index.html"
    ><span class="icon icon-home"></span><span class="tab-label">Home</span></a
  ><a id="gallery" class="tab-item" href="/gallery.html"
    ><span class="icon icon-pages"></span
    ><span class="tab-label">Gallery</span></a
  ><a id="contact" class="tab-item" href="/contact.html"
    ><span class="icon icon-compose"></span
    ><span class="tab-label">Contact</span></a
  ><a id="settings" class="tab-item" href="/settings.html"
    ><span class="icon icon-gear"></span
    ><span class="tab-label">Settings</span></a
  >
</nav>
